{% extends "base.html" %}
{% block content %}

    <form action="makeurl" method="post">
        <div id="left">
            {% for name in titles %}
                <input type="checkbox" id="name-['{{name}}']" name="name" value="{{name}}">
                <label for="name-['{{name}}']"><span></span>{{name}}</label><br>
            {% endfor %}
            <input type="hidden" value="{{persist}}" name="persist">
        </div>
            <input type="submit" value="Filter courses">

    </form>
<a href="/" class="gohome">Go back home</a>
{% endblock %}