{% extends "base.html" %}

{% block content %}
    <form action="makeurl" method="post">
        <div id="left">
            <input type="checkbox" id="select_all">
            <label for="select_all"><span></span>Select all courses</label><br><br>

            {% for name, check in titles %}
                <input class="select_one" type="checkbox" id="name-['{{name}}']" name="name" value="{{name}}" {{check}}>
                <label for="name-['{{name}}']"><span></span>{{name}}</label><br>
            {% endfor %}
            <input type="hidden" value="{{persist}}" name="persist">
        </div>
            <input type="submit" value="Filter courses">

    </form>
<a href="/" class="gohome">Go back home</a>

<script>
$( document ).ready(function() {

$('#select_all').change (function () {
    console.log('master')
    //Check/uncheck all the list's checkboxes
    $('.select_one').attr('checked', $(this).is(':checked'));
    //Remove the faded state
    $(this).removeClass('some_selected');
});

$('.select_one').change (function () {
    if ($('.select_one:checked').length == 0) {
        $('#select_all').removeClass('some_selected').attr('checked', false);
    } else if ($('.select_one:not(:checked)').length == 0) {
        $('#select_all').removeClass('some_selected').attr('checked', true);
    } else {
        $('#select_all').addClass('some_selected').attr('checked', true);
    }
});

// Handler for .ready() called.
});
</script>
{% endblock %}