<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gehol tools</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>

<body>
    <form action="filter" method="post">
        <p>
            <label for="area">Calendriers</label><br>
            <textarea name="urls" cols="100" rows="3">
http://scientia-web.ulb.ac.be/gehol/index.php?Student/Calendar/%23SPLUS35F0EE/21-35.ics
            </textarea><br>
            <input type="submit" value="send">
        </p>
    </form>
</body>

</html>