{% extends "base.html" %}
{% block content %}
Insert one GeHoL calendar url per line.
    <form action="filter" method="post">
        <p>
            <textarea name="urls" cols="100" rows="3">
http://scientia-web.ulb.ac.be/gehol/index.php?Student/Calendar/%23SPLUS35F0EE/21-35.ics
            </textarea><br>
            <input type="submit" value="Merge calendars">
        </p>
    </form>

Gehol Tools merges multiple calendars into one and then lets you filter all the courses and gives you the ability to filter and remove some courses of your choice.
{% endblock %}